<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Inicio</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" >

</head>
<body>

    <header class="main-header">

      <div class="main-header-top-bar">  
            <img src="images/logo-mercado-liebre.svg" class="logo">
            
        <div class="barra-de-busqueda">
            <form action="" method="get">
              <input type="text" name="" id="" placeholder="Buscar productos, marcas"/>
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

            <h2 class="copy-header">
              <i class="fa-solid fa-hand-holding-dollar"></i>
              Comprá en cuotas y sin tarjeta de crédito
            </h2>
      </div>
      

      <nav class="main-header-bottom-bar">
            <ul class="list-container">
              <li><a href="">Ofertas</a></li>
              <li><a href="">Tiendas Oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="login-navbar">
              <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
              <li><a href="/login">Ingresár <i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
      </nav>
    
        <div class="burger-menu">
          <a href="#">
            <i class="fas fa-bars"></i>
          </a>
        </div>
    </header>
    
    <main>
      <img src="images/img-home-banner.jpg" width="100%">

      <section class="seccion01">

        <h2 class="titular">Basado en tu última visita</h2>

       <div class="articulo-container">
        <div class="articulo"> 
            <img src="images/img-cafetera-moulinex.jpg" width="100%">
            <div class="detalle">
              <i class="fa-solid fa-truck" style="color: #39b54a ;"></i>
              <p class="precio">$6.770</p>
              <p class="descuento">40% off</p>
              <h4 class="descripcion">Cafetera Moulinex</h4>
            </div>
        </div>

        <div class="articulo"> 
            <img src="images/img-macbook-pro-2019.jpg" width="100%">
            <div class="detalle">
              <i class="fa-solid fa-truck" style="color: #39b54a ;"></i>
              <p class="precio">$230.000</p>
              <p class="descuento">20% off</p>
              <h4 class="descripcion">MacBook Pro 2019</h4>
            </div>
        </div>

        <div class="articulo">
            <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
            <div class="detalle">
              <i class="fa-solid fa-truck" style="color: #39b54a ;"></i>
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
              <h4 class="descripcion">Samsung Galaxy S10</h4>
            </div>
        </div>

        <div class="articulo">
            <img src="images/img-tv-samsung-smart.jpg" width="100%">
            <div class="detalle">
              <i class="fa-solid fa-truck" style="color: #39b54a ;"></i>
              <p class="precio">$23.200</p>
              <p class="descuento">5% off</p>
              <h4 class="descripcion">SmartTv Samsung 43"</h4>
            </div>
        </div>
      </div> 
      </section>

      <section>

        <h2 class="titular">Ofertas</h2>

        <div class="articulo-container">
        <div class="articulo">
            <img src="images/img-cafetera-moulinex.jpg" width="100%">
            <div class="detalle">
              <i class="fa-solid fa-truck" style="color: #39b54a ;"></i>
              <p class="precio">$6.770</p>
              <p class="descuento">40% OFF</p>
              <h4 class="descripcion">Cafetera Moulinex</h4>
            </div>
        </div>

        <div class="articulo">
            <img src="images/img-macbook-pro-2019.jpg" width="100%">
            <div class="detalle">
              <i class="fa-solid fa-truck" style="color: #39b54a ;"></i>
              <p class="precio">$230.000</p>
              <p class="descuento">20% off</p>
              <h4 class="descripcion">MacBook Pro 2019</h4>
            </div>
        </div>

        <div class="articulo">
              <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
              <div class="detalle">
                <i class="fa-solid fa-truck" style="color: #39b54a ;"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
              </div>
        </div>

        <div class="articulo">
              <img src="images/img-tv-samsung-smart.jpg" width="100%">
              <div class="detalle">
                <i class="fa-solid fa-truck" style="color: #39b54a ;"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <h4 class="descripcion">SmartTv Samsung 43"</h4>
              </div>
        </div>
        </div>
      </section>

    </main>


    <footer>

      <div class="f1">

        <i class="fa-solid fa-credit-card" style="color: #1259c3;"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        <p><i class="fa-solid fa-gift" style="color: #1259c3;"></i></p>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        <p><i class="fa-solid fa-user-shield" style="color: #1259c3;"></i></p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

      </div>

        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>
</html>