<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Formulario de Registro</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    rel="stylesheet" />
    <link href="/css/stylesRegister.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" >

</head>
<body>

    <header class="main-header">

      <div class="main-header-top-bar">  
        <img src="images/logo-mercado-liebre.svg" class="logo">
            
        <div class="barra-de-busqueda">
            <form action="" method="get">
              <input type="text" name="" id="" placeholder="Buscar productos, marcas"/>
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

         <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>
      

      <div class="main-header-bottom-bar">
            <ul class="list-container">
              <li><a href="">Ofertas</a></li>
              <li><a href="">Tiendas Oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="login-navbar">
              <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
              <li><a href="/login">Ingresár <i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>

    </header>
    
    <main>

      <div class="formulario-conteiner">
            <form action="" method="POST">
            <label for="fullName"></label>
            <input type="text" id="fullName" name="fullName" placeholder="Nombre y apellido:">

            <label for="username"></label>
            <input type="text" id="username" name="username" placeholder="Nombre de usuari@:" >
            
            <label for="birthdate">Fecha de nacimiento:</label>
            <input type="date" id="birthdate" name="birthdate">

            <label for="address"></label>
            <input type="text" id="address" name="address" placeholder="Domicilio">

            <label for="profile">Perfil del usuario:</label>
              <input type="radio" name="profile" value="comprador">Comprador</input>
              <input type="radio" name="profile" value="vendedor">Vendedor</input>
      
            <label for="categories">Categorías de interés:</label>
              <input type="checkbox" name="categorias" value="electro">Electro</input>
              <input type="checkbox" name="categorias" value="moda">Moda</input>
              <input type="checkbox" name="categorias" value="hogar">Hogar</input>
              <input type="checkbox" name="categorias" value="jugueteria">Jugueteria</input>
              <input type="checkbox" name="categorias" value="vida_sana">Vida sana</input>

            <label for="foto">Foto de usuario:</label>
            <input type="file" name="foto" accept=".jpg"></input>

            <label for="password"></label>
            <input type="password" name="password" placeholder="Contraseña:">

            <label for="password"></label>
            <input type="password" name="password" placeholder="Confirmar contraseña:">

            <button type="submit">Ingresar</button>
            <button type="submit">Página principal</button>
            <button type="reset" value="borrar">Borrar datos</button>
            
      </div> 
    </form>
    </main>

    <footer>

      <div class="f1">

        <i class="fa-solid fa-credit-card" style="color: #1259c3;"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        <p><i class="fa-solid fa-gift" style="color: #1259c3;"></i></p>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        <p><i class="fa-solid fa-user-shield" style="color: #1259c3;"></i></p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

      </div>

        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>
</html>